In [3]:
pip install openpyxl
pip install pandas
pip install numpy

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [68]:
import pandas as pd
import numpy as np
import openpyxl
auto=pd.read_excel(r"C:\Users\ph118\Downloads\BDA_Pre_Screening_Auto.xlsx",engine='openpyxl')
auto.drop(index=[0,1,2,3],inplace=True)

In [69]:
auto.reset_index(drop=True,inplace=True)
auto.columns

Index(['Id', 'Title', 'Brand', 'Product', 'Category', 'Network',
       'Network Type', 'Show', 'Date', 'Time', 'Pod Position', 'Dayparts',
       'Co-Op Brand', 'Co-Op Product', 'Duration', 'EQ Units', 'Spend ($)',
       'Broadcast Year', 'Broadcast Month', 'Broadcast Week', 'Day Of Week',
       'Hour Of Day', 'TimeZone'],
      dtype='object')

In [70]:
auto.columns
auto['Co-Op Brand'].nunique()
auto['Co-Op Product'].nunique()
auto.drop(columns={'Co-Op Brand','Co-Op Product'},inplace=True)

In [71]:
duplicated=auto['Id'].duplicated()
duplicated.unique()
auto['Date']=pd.to_datetime(auto['Date'])
auto['Quarter']=auto['Date'].dt.quarter

4

In [ ]:
#auto.groupby(auto['Quarter']).agg({'Spend ($)':'sum','Duration':'sum'}).reset_index()
delta_duration=auto.pivot_table(index='Brand',columns='Quarter',values='Duration',aggfunc='sum').reset_index()
# delta_duration.drop(index='Quarter',inplace=True)
delta_duration.columns=['Brand']+[f'Q{i}' for i in range(1,5)]
for i in range(1,auto['Quarter'].nunique(),1):
     delta_duration[f'percent_change_from_Q{i}']=((delta_duration[f'Q{i+1}']-delta_duration[f'Q{i}'])/delta_duration[f'Q{i}'])*100
delta_duration=delta_duration[['Brand','Q1','Q2','percent_change_from_Q1','Q3','percent_change_from_Q2','Q4','percent_change_from_Q3']]
delta_duration
delta_duration

,Brand,Q1,Q2,percent_change_from_Q1,Q3,percent_change_from_Q2,Q4,percent_change_from_Q3
0,BMW,8760,54315,520.034247,24045,-55.730461,81180,237.616968
1,Chevrolet,244215,170310,-30.262269,235320,38.171569,179580,-23.686894
2,Ford,315255,264680,-16.042569,198525,-24.994333,141270,-28.840196
3,Honda,201225,107235,-46.708908,16545,-84.571269,196200,1085.856754
4,Lexus,379175,339240,-10.532076,342830,1.058248,419940,22.492197
5,Toyota,225520,245170,8.713196,400700,63.437615,259395,-35.264537

In [ ]:

auto.pivot_table(index='Brand',columns='Quarter',values='Spend ($)',aggfunc='sum')
auto.groupby(['Brand','Quarter'])['Duration'].pct_change().reset_index(name='Change in Duration of Ads')

In [ ]:

auto.pivot_table(index='Brand',columns='Quarter',values='Spend ($)',aggfunc='sum')
auto.groupby(['Brand','Quarter'])['Duration'].pct_change().reset_index(name='Change in Duration of Ads')

In [ ]:
auto